<!--<div class="table">-->
<!--<div ng-repeat="post in data">-->

<!--<div class="post">-->

<!--<div class="id">{{ post.id }}</div>-->

<!--<div class="text">{{ post.text }}</div>-->

<!--<div class="date">{{ post.date | date }}</div>-->

<!--<div class="author">{{ post.author }}</div>-->
<!--<div class="buttons" ng-if="check()">-->
<!--<button ng-click="edit(post.id)">EDIT</button>-->
<!--<button ng-click="delete(data,post.id)">DEL</button>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--<div id="main" class="table">-->
<!--<div ng-repeat="post in data">-->

<!--<div id="id" class="td">-->
<!--{{ post.id }}-->
<!--</div>-->
<!--<div id="text" class="td">-->
<!--{{ post.text }}-->
<!--</div>-->
<!--<div id="date" class="td">-->
<!--{{ post.date | date }}-->
<!--</div>-->
<!--&lt;!&ndash;<div class="buttons" ng-if="check()">&ndash;&gt;-->

<!--<div id="edit" class="td" ng-if="check()">-->
<!--<button class="button" bng-click="edit(post.id)">EDIT</button>-->
<!--</div>-->
<!--<div id="delete" class="td" ng-if="check()">-->
<!--<button class="button" ng-click="delete(data,post.id)">DEL</button>-->
<!--</div>-->


<!--</div>-->
<!--</div>-->

<table class="table" border="1">
    <thead>
    <tr>
        <td>
            text
        </td>
        <td>
            Date created
        </td>
        <td>

            Author
        </td>
        <td ng-if="check()">
            Edit
        </td>

        <td ng-if="check()">
            Delete
        </td>
    </tr>

    </thead>
    <tbody ng-repeat="post in data">

    <tr>
        <td>
            {{ post.text }}
        </td>
        <td>
            {{ post.date | date }}
        </td>
        <td>
            {{ post.author }}
        </td>
        <td ng-if="check()">
            <button class="button" ng-click="edit(post.id)">EDIT</button>

        </td>

        <td ng-if="check()">
            <button class="button" ng-click="delete(data,post.id)">DEL</button>
        </td>


    </tr>
    </tbody>


</table>

