
<table class="table" border="1">
    <thead>
    <tr>
        <td>
            text
        </td>
        <td>
            Date created
        </td>
        <td>

            Author
        </td>
        <td ng-if="check()">
            Edit
        </td>

        <td ng-if="check()">
            Delete
        </td>
    </tr>

    </thead>
    <tbody ng-repeat="post in data">

    <tr>
        <td>
            {{ post.text }}
        </td>
        <td>
            {{ post.date | date }}
        </td>
        <td>
            {{ post.author }}
        </td>
        <td ng-if="check()">
            <button class="edit" ng-click="edit(post.id)">EDIT</button>

        </td>

        <td ng-if="check()">
            <button class="delete" ng-click="delete(data,post.id)">DEL</button>
        </td>


    </tr>
    </tbody>


</table>

