<!--<div class="auth">-->
        <!--<input type="text" ng-model="user.login" required/>-->
        <!--<input type="text" ng-model="user.password" required/>-->
        <!--<input class="button" type="submit" ng-click="authLogin()" value="Login" />-->

<!--</div>-->


<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->







        <form class="form-signin">
            <div class="input"><input type="text" ng-model="user.login" required placeholder="login"/></div>
            <div class="input"><input type="text" ng-model="user.password" required placeholder="Password"></div>
            <input class="button" type="submit" ng-click="authLogin()" value="Login" />


        </form><!-- /form -->
